<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    backupGlobals="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Models">
            <directory>tests/php/Models</directory>
        </testsuite>
        <testsuite name="API">
            <directory>tests/php/API</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory>tests/php/Auth</directory>
        </testsuite>
        <testsuite name="Checklists">
            <directory>tests/php/Checklists</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">includes/</directory>
            <directory suffix=".php">admin/</directory>
            <directory suffix=".php">public/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
        </exclude>
    </coverage>
</phpunit>
